*{
    margin: 0;
    padding: 0;
}

:root{
    font-size: 10px;
}

img{
    width: 100%;
    height: 100%;
}

ul{
    list-style: none;
}

a{
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: block;
}

body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    height: 100dvh;
    height: 100vh;
    width: 100vw;
    display: grid;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scrollbar-width: none;
    grid-template-areas: 
    "women men kids baby";
    grid-template-columns: repeat(4, 100vw);


    .header{
        color: white;
        display: grid;
        grid-template-areas: 
        "brand menu"
        "category category"
        ;
        align-items: center;
        row-gap: 15px;
        position: fixed;
        top: 10px;
        left: 10px;
        right: 10px;

        .brand{
            grid-area: brand;
        }

        .menu{
            grid-area: menu;
            display: grid;
            grid-template-columns: repeat(4, 0.15fr);
            justify-content: end;
            column-gap: 25px;
            transform: translateX(2px);
        }

        .category{
            height: 30px;
            grid-area: category;
            display: flex;
            justify-content: space-between;
            font-size: .8rem;
            position: relative;

            li{
                position: relative;
                
                a{
                    cursor: pointer;
                }

                h1{
                    color: white;
                }

            }

            &::after{
                content: "";
                height: 2px;
                width: var(--afterWidth, 64px);
                background-color: white;
                position: absolute;
                bottom: 0;
                left: var(--afterLeft, 0);
                transition: .3s linear .3s;
            }
        }
    }

    .women,.men,.kids,.baby{
        grid-area: women;

        overflow-y: scroll;
        scrollbar-width: none;
        scroll-snap-type: y mandatory;

        // ini adalah snap untuk perpindahan section
        scroll-snap-align: start;
        scroll-snap-stop: always;

        .items{
        // ini adalah snap untuk perpindahan item dalam section
            scroll-snap-align: start;
            scroll-snap-stop: always;

            height: 100dvh;
            height: 100vh;
            width: 100%;
            background-image: url(../img/women/Witem1.jpg);
            background-size: cover;
            background-position-x: -90px;
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            font-size: 3rem;

            h1{
                color: white;
                font-weight: 200;
                text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
            }

        }

        .item2{
            background-image: url(../img/women/Witem2.jpg);

        }

        .item3{
            background-image: url(../img/women/Witem3.jpg);
        }

        .item4{
            background-image: url(../img/women/Witem4.jpg);
        }

        .item5{
            background-image: 
            linear-gradient(
            to bottom, 
            rgba(0,0,0,0.2),   /* mulai gelap di atas */
            rgba(0,0,0,0)    /* sisanya transparan */
            ),
            url(../img/women/Witem5.jpg);
        }
    }

    .men{
        grid-area: men;
        
        .item1{
            background-image: url(../img/men/Mitem1.jpg);
            background-position-x: 0;
        }
        .item2{
            background-image: url(../img/men/Mitem2.jpg);
        }
        .item3{
            background-image: url(../img/men/Mitem3.jpg);
        }
        .item4{
            background-image: url(../img/men/Mitem4.jpg);
        }
        .item5{
            background-image: url(../img/men/Mitem5.jpg);
        }
    }

    .kids{
        grid-area: kids;

        .item1{
            background-image: url(../img/kids/Kitem1.jpg);
        }
        .item2{
            background-image: url(../img/kids/Kitem2.jpg);
        }
        .item3{
            background-image: 
            linear-gradient(
            to bottom, 
            rgba(0,0,0,0.2),   /* mulai gelap di atas */
            rgba(0,0,0,0)    /* sisanya transparan */
            ),
            url(../img/kids/Kitem3.jpg);
        }
        .item4{
            background-image: url(../img/kids/Kitem4.jpg);
        }
        .item5{
            background-image: url(../img/kids/Kitem5.jpg);
        }
    }

    .baby{
        grid-area: baby;

        .item1{
            background-image: url(../img/baby/Bitem1.jpg);
            background-position-x: -20px;
        }
        .item2{
            background-image: url(../img/baby/Bitem2.jpg);
        }
        .item3{
            background-image: url(../img/baby/Bitem3.jpg);
        }
        .item4{
            background-image: url(../img/baby/Bitem4.jpg);
        }
        .item5{
            background-image: url(../img/baby/Bitem5.jpg);
        }
    }
}